.navbar-right(ng-controller="mvLoginController")
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        .form-group
            input.form-control(type="text", placeholder="Email", ng-model="username")
        .form-group
            input.form-control(type="password", placeholder="Password", ng-model="password")
        button.btn.btn-primary(ng-click="signIn(username, password)") Sign In
    ul.nav.navbar-nav.navbar-rigth(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.navbar-toggle(href="" data-toggle="dropdown")
                | {{identity.currentUser.firstName + " "+ identity.currentUser.lastName}}
                b.caret
            ul.dropdown-menu
                li
                    a(href="", ng-click="signOut()") Sign Out