doctype html
html(lang="en")
    head
        title MEANVideoCourses
        base(href="/")
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel="stylesheet" href="/vendor/angularjs-toaster/toaster.css")
        link(rel="stylesheet" href="/css/site.css")
    body(ng-app="app")
        block main-content
        toaster-container(toaster-options="{'position-class': 'toast-top-full-width'}")
        include scripts
