script(type="text/javascript" src="/vendor/jquery/dist/jquery.min.js")
script(type="text/javascript" src="/vendor/angular/angular.js")
script(type="text/javascript" src="/vendor/angular-resource/angular-resource.min.js")
script(type="text/javascript" src="/vendor/angular-route/angular-route.min.js")
script(type="text/javascript" src="/vendor/angular-animate/angular-animate.min.js")
script(type="text/javascript" src="/vendor/angularjs-toaster/toaster.js")
script(type="text/javascript" src="/app/app.js")
script(type="text/javascript" src="/app/main/mvMainController.js")
script(type="text/javascript" src="/app/account/mvLoginController.js")
script(type="text/javascript" src="/app/account/mvIdentity.js")
script(type="text/javascript" src="/app/common/mvNotifier.js")
script(type="text/javascript" src="/app/account/mvAuth.js")